@model OrdenarPizza.Models.PizzaModel

@{
    ViewBag.Title = "Armar su pizza";
}

<div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Promoción</div>
    <div class="card-body">
        <h4 class="card-title"><a href="/Pizza/VerArmarPizza">Arme su propia pizza</a></h4>
        <p class="card-text">No salga de su casa en tiempos de pandemia y aproveche esta promoción.</p>
    </div>
</div>

<style>
    a.card-body,
    a.card-body:hover {
        color: inherit;
    }
</style>